
 .nowplaying {
  width: 500px;
  height: 80px;
  border: 1px solid;
  display:flex;
  font-family: 'source han sans';
  border-radius: 9px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter:blur(3px);
  position:absolute;
  overflow:hidden;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}


.nowplaying::before {
  content:'';
  height: 0px;
  position:absolute;
  left:24px;
  border-style: solid;
  border-width: 18px 0 18px 30px;
  border-color: transparent transparent transparent black;
}

.nowplayingmessage {
  font-weight: 500;
  margin-left: 15%;
}


.nowplayingsong {
  font-weight: 300;
  margin-left: 15%;
  text-overflow:clip;
}